body {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

main {
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
}

#two-lists {
    display: flex;
    flex-direction:row;
    width: 100%;
}

ol,ul {
    width: 50%;
    display: flex;
    flex-direction: column;
}

ol li:nth-child(odd),ul li:nth-child(odd) {
    background-color: lightgray;
}

li {
    padding: 10px 0;
    font-weight: bold;
}

aside {
    width: 20%;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
}

#quiz-area {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 20px;
    flex-grow: 0 1;
    padding: 10px 25px;
    font-weight: bold;
}

button.added-button {
    width: 100%;
}

h1 {
    font-size: 40px;
    margin: 10px;
}

h2 {
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

aside h2 {
    margin-top: 60px;
}

h3 {
    font-size: 20px;
    margin: 10px;
}

div {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#right-wrong {
    border-top: 2px solid black;
    width: 50%;
}